@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");

:root {
    --primary-color: #742148;
    --color-gray-light: rgb(229, 229, 229);
    --primary-color-trans1: rgba(114, 37, 73, 0.5);
    --primary-font-size: 16px;

    --color-selected: #6f03fc;
    --color-selected-gold: rgb(255, 193, 50);

    --shadow-min: 1px 1px 2px rgba(0,0,0,0.1);
    --shadow-med: 1px 2px 4px rgba(0,0,0,0.2);
    
    --shadow-default: 1px 1px 4px rgba(0,0,0,0.2);
    --shadow-inset-default: inset 0 2px 4px rgba(0,0,0,0.2);

    --transition-time: 0.075s;
}

body {
    font-family: 'K2D', sans-serif;
    font-size: var(--primary-font-size);
    user-select: none;
}

/*Universal styling*/
.glassmorphism {
    border: 1.5px solid rgb(200, 200, 200);
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #f9f9f9;
}

.panel {
    background-color: white;
    border: 1.5px solid rgb(207, 204, 204);
    border-radius: 20px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.12), -10px -10px 10px white;
    display: flex;
    flex-direction: column;
}

.page-full {
    width: 100%;
    height: 100%;
    background-color: white;
}

.txt-header {
    font-weight: bold;
    margin-bottom: 2px;
    color: rgb(95, 95, 95);
}

.txt-header-description {
    font-size: 14px;
    line-height: 15px;
    color:#8e8e8e;
}

.txt-description {
    font-size: 14px;
    line-height: 18px;
    color: rgb(120, 120, 120);
}

.txt-smaller {
    font-size: 13px;
}

.txt-clickable {
    font-weight: bold;
    cursor: pointer;
}

.txt-alert {
    color: rgb(216, 19, 111);
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

/*Text Inputs*/
.input-text {
    color: rgb(98, 98, 98);
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-text:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color-trans1);
}

.input-text-seamless {
    display: block !important;
    position: relative !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.input-text-seamless:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/*Inline value*/
.inline-value-editor-set {
    min-width: 20px;
    height: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(151, 151, 151, 0.204);
    margin-left: 4px;
}

.inline-value-editor-set:has(.editor.block-editor) {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(151, 151, 151, 0.204);
    margin-left: 4px;
}

.inline-value-editor-set::before {
    content: "[";
    font-size: 22px;
    color: rgb(126, 126, 126);
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-right: 5px;
    background-color: transparent;
}

.inline-value-editor-set::after {
    content: "]";
    font-size:22px;
    color: rgb(126, 126, 126);
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-left: 5px;
    background-color: transparent;
}

.inline-value-editor-set span.value-object:not(:nth-last-child(2))::after {
    content: ",";
    font-size: calc(var(--primary-font-size) + 2px);
    color: rgb(197, 197, 197);
    display: inline-block;
    margin-left: -2px;
    margin-right: 2px;
}

/*Display: Image*/
.display-block-img-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 2px;
}

.display-block-image {
    border-radius: 5px;
}

.display-block-image-drop {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    box-shadow: inset 0.5px 2.5px 4px rgba(0,0,0,0.32);
}

.display-block-image-btn-fullscreen {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white;
}

/*Display: URL*/
.inline-value-display-url-area {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    gap: 3px;
    background-color: rgba(157, 157, 157, 0.15);
    border: #b9b9b9 1px solid;
    border-radius: 5px;
    padding: 4px 4px;
    margin-top: 2px;
    /*width: fit-content;*/
    width: 100%;
}

.inline-value-display-url {
    position: relative;
    color:#6d686a;
    padding: 2px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 3px;
    flex: 1 1 auto;
}

.inline-value-display-url::after {
    content: "";
    position: absolute;
    display: inline-flex;
    width: 0;
    height: 16px;
    border-right: rgba(82, 82, 82, 0.236) 1.5px solid;
    right: 1.5px;
    top: 25%;
}

.btn-inline-small-normal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgba(48, 48, 48, 0.1);
    border: rgb(116, 116, 116) 1px solid;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    color: rgb(69, 69, 69);
    font-size: 16px;
    text-shadow: var(--shadow-min);
}

/*Value display: Inline-Refers*/
.inline-value-display-refer-area {
    background-color: rgba(82, 205, 111, 0.45);
    border: rgb(11, 132, 29) 1px solid;
    border-radius: 5px;
    padding: 0px 2px;
    margin-left: 4px;
}

.input-inline-display-refer {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 5px;
    margin-left: 2px;
    color: rgb(13, 97, 13);
}

.input-inline-display-refer::before {
    display: inline;
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
    height: 14px;
    border: rgba(13, 97, 13, 0.2) 1px solid;
    margin-right: 2px;
}

.input-inline-display-refer:empty::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 16px;
}

.inline-value-display-refer-area .icon {
    color: rgb(11, 132, 29) !important;
    text-shadow: var(--shadow-min);
}

/*Value Display: Codeblock*/
.inline-value-display-codeblock {
    overflow: auto;
    border: #ababab 1px solid;
    border-radius: 5px;
}

.inline-value-display-codeblock::before {
    content: "</> "attr(data-language);
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgb(192, 192, 192);
}

/*Value Editor: Boolean element*/
.inline-value-editor-bool {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
    aspect-ratio: 1/1;
    padding: 0px 3px;
    background-color: rgba(139, 139, 139, 0.85);
    border-color: rgb(78, 78, 78);
    box-shadow: var(--shadow-med);
    margin-left: 4px;
    margin-right: 1px;
}

.inline-value-editor-bool[data-is-checked=true] {
    background-color: rgba(70, 202, 70, 0.85);
    border-color: green;
    box-shadow: var(--shadow-med);
}

.inline-value-editor-bool[data-is-checked=false] {
    background-color: rgba(250, 39, 131, 0.85);
    border-color: rgb(148, 3, 68);
    box-shadow: var(--shadow-min);
}

.inline-value-editor-bool .icon {
    color: white !important;
    text-shadow: var(--shadow-min);
    padding: 0px 1px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.inline-value-editor-bool .inline-value-editor-bool-valtext {
    font-size: 12px;
    font-weight: 600;
    margin: 0px 2px;
    color: white !important;
    text-shadow: var(--shadow-min);
}

/*Value Editor: Stylings*/
.inline-value-editor-style-area {
    display: inline;
    background-color: rgb(194, 188, 244);
    border: rgb(137, 129, 210) 1px solid;
    border-radius: 5px;
    padding: 0px 4px;
    margin-left: 4px;
}

.inline-value-editor-style-domain {
    text-align: center;
    align-content: center;
    background: rgb(179, 173, 235) !important;
    /*border-color: rgb(113, 112, 159) !important;*/
    border-radius: 0px !important;
    border: none !important;
    padding: 0px 2px !important;
}

.inline-value-editor-style-domain::after {
    content: "::";
    display: inline;
    color: #7f7cc7;
}

.inline-value-editor-style-icon, .inline-value-editor-style-domain span {
    color: rgb(91, 82, 166) !important;
    font-weight: 700 !important;
}

/*Image - QR Code - Display*/ 
.display-block-image-qr-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: #d6d6d6 1px solid;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 7px;
    margin-top: 2px;
}

.display-block-image-qr-area img {
    margin: 7px;
}

/*File System - Attachment Block - Display*/
.display-block-fileattachments-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    padding: 4px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    margin-top: 2px;
}

/*File System - Display*/
.display-block-file-strip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    gap: 30px;
    background-color: rgba(80, 80, 80, 0.15);
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    width: 100%;
    height: auto;
}

.display-block-file-panel {
    --panel-indent: 20px;
    --thumbnail-size: 32px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    background-color: rgb(255, 255, 255);
    border: rgb(220, 220, 220) 1px solid;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0px 4px;
    margin-left: var(--panel-indent);
    width: calc(100% - var(--panel-indent)) !important;
    height: fit-content;
}

.display-block-file-thumbnail-holder {
    position: relative;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    flex: 0 0 var(--thumbnail-size);
}

.display-block-file-thumbnail-area {
    position: relative;
    width: 100%;
    height: auto;
}

.display-block-file-img-thumbnail {
    position: relative;
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center 0;
}

.display-block-file-thumbnail-area::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: inset 1px 2.5px 4px rgb(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.display-block-file-databubble.fileext {
    --position-offset: 10%;
    position: absolute;
    right: calc(var(--position-offset) * -1);
    bottom: calc(var(--position-offset) / 2);
    background-color: rgb(120, 120, 120);
    border-radius: 5px;
    color: white;
    text-shadow: var(--shadow-min);
    box-shadow: var(--shadow-min);
    font-family: "Squada One", sans-serif;
    font-size: 12px;
    padding: 0 6px;
}

.display-block-file-mainarea {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--panel-indent) - var(--thumbnail-size))!important;
    max-width: 100% !important;
    height: fit-content;
    flex: 1 1 auto;
}

.display-block-file-name {
    color: rgb(51, 48, 48);
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-weight: bold !important;
    cursor: pointer;
}

.display-block-file-dataarea {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
    margin-top: -4px;
}

.display-block-file-detailbubble {
    font-size: 12px;
    color: rgb(120, 120, 120);
    font-weight: 500;
}

/*File System: Direct Editor Area*/
.display-block-file-editorarea {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: top;
    justify-items: top;
    gap: 3px;
    width: 100%;
    height: fit-content;
}

.btn-file-editor {
    --end-border-curve: 7px;
    background-color: rgb(195, 195, 195);
    border-bottom-left-radius: var(--end-border-curve);
    border-bottom-right-radius: var(--end-border-curve);
    color: rgb(99, 97, 97);
    text-shadow: var(--shadow-inset-default);
    box-shadow: inset 0 4px 4px rgb(0,0,0,0.15), var(--shadow-min);
    font-size: 18px;
    font-weight: 600;
    padding: 1px 8px;
    margin-right: 7px;
    height: fit-content;
    cursor: pointer;
    transition: var(--transition-time);
}

.btn-file-editor:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--shadow-med);
    padding-top: 14px;
    padding-bottom: 4px;
}

/*File System - Editor*/
.inline-value-display-filebase-area {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    gap: 30px;
    background-color: rgba(80, 80, 80, 0.35);
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    margin-left: 4px;
    width: fit-content;
    max-width: 100%;
    cursor: pointer;
}

.inline-value-display-filebase-area::before {
    font-family: "Squada One", sans-serif;
    font-weight: 300;
    display: inline-block;
    content: attr(data-extension);
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-shadow: var(--shadow-min);
    margin-left: 7px;
}

.inline-value-display-filebase-dataholder {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    gap: 3px;
    background-color: rgb(230, 230, 230);
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 5px;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.15);
    padding: 0px 4px;
    margin-left: 7px;
}

.inline-value-display-filebase-title:empty:before {
    content: "No file selected";
    color: rgb(156, 156, 156);
}

.inline-value-display-filebase-size {
    font-size: 12px;
    color: rgb(120, 120, 120);
    font-weight: 500;
    margin-left: 4px;
}

.inline-value-display-filebase-size::before {
    content: " | ";
    display: inline-block;
    font-size: 12px;
    color: rgb(191, 191, 191);
    font-weight: 500;
    margin-right: 4px;
}

.inline-value-display-filebase-btn-attach {
    background-color: #bcbcbc;
    border-radius: 5px;
    color: rgb(99, 99, 99) !important;
    box-shadow: var(--shadow-inset-default);
    text-shadow: var(--shadow-min);
    padding: 0px 4px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 4px;
    cursor: pointer;
}

.inline-value-editor-filebase-modal-draganddrop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    border: rgb(213, 213, 213) dashed 2px;
    border-radius: 5px;
    color: rgb(213, 213, 213);
    box-shadow: var(--shadow-inset-default);
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100px;
}

.inline-value-editor-filebase-modal-lwtb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 4px;
}

.inline-value-editor-filebase-modal-inputpaste {
    flex: 1 1 auto;
}

.inline-value-editor-filebase-modal-btn-label-filesearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(220, 220, 220) 1px solid;
    border-radius: 5px;
    color: rgb(144, 144, 144);
    box-shadow: var(--shadow-min);
    font-weight: 600;
    flex: 0 0 25px;
}

.inline-value-editor-filebase-modal-localfile-strip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #c6c6c6;
    /*background-color: rgb(239, 12, 114);*/
    border-radius: 11px;
    box-shadow: inset 0 3px 4px rgb(0,0,0,0.3);
    padding-right: 3px;
}

.inline-value-editor-filebase-modal-localfile-panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    border: rgb(195, 195, 195) 1.5px solid;
    border-radius: 7px;
    padding: 4px;
    box-shadow: var(--shadow-min);
    flex: 1 1 auto;
}

.inline-value-editor-filebase-modal-localfile-name {
    color: rgb(51, 48, 48);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.inline-value-editor-filebase-modal-localfile-dataarea {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
}

.inline-value-editor-filebase-modal-localfile-databubble {
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    color: rgb(104, 104, 104);
    font-size: 12px;
    font-weight: bold;
    padding: 0px 4px;
    box-shadow: var(--shadow-inset-default);
}

.inline-value-editor-filebase-modal-localfile-databubble.fileext {
    font-family: "Squada One", sans-serif;
}

.inline-value-editor-filebase-modal-localfile-btn-remove {
    color: rgb(130, 130, 130);
    text-shadow: var(--shadow-inset-default);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

/*Panel - Display*/
.display-block-panel {
    display: block;
    width: 100%;
}

/*Divider - Display - Horizontal*/
.display-block-divider-horz-area {
    --divider-text-color: rgb(195, 195, 195);
    --divider-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    margin: 4px 0;
}

.display-block-divider-horz-txt {
    display: block;
    color: var(--divider-text-color);
    font-size: 12px;
    font-weight: bolder;
}

.display-block-divider-horz-line {
    border-bottom: var(--divider-color) 2px solid;
    width: 100%;
    height: 0px;
}

/*Area - Incomplete - Display*/
.display-block-areaincomplete {
    --area-primary-color: rgb(253, 1, 123);
    --line-color: rgba(255, 0, 106, 0.11);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, var(--line-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--line-color) 1px, transparent 1px);
    border: var(--area-primary-color) 2px dashed;
    border-radius: 5px;
    margin: 12px 0px;
    padding: 7px;
    padding-bottom: 14px;
}

.display-block-areaincomplete-toparea {
    position: absolute;
    top: -11px;
    left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: white;
    color: var(--area-primary-color);
    width: fit-content !important;
    height: fit-content !important;
    padding: 0px 4px;
}

.display-block-areaincomplete-toparea-icon {
    font-size: 14px;
    font-weight: bolder;
    text-shadow: var(--shadow-med);
}

.display-block-areaincomplete-toparea-text {
    font-size: 13px;
    font-weight: bolder;
    text-shadow: var(--shadow-med);
}

.display-block-areaincomplete-bottomarea {
    position: absolute;
    right: 5px;
    bottom: -11px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: white;
    color: var(--area-primary-color);
    width: fit-content !important;
    height: fit-content !important;
    padding: 0px 2px;
}

.display-block-areaincomplete-bottomarea-btn {
    font-size: 22px;
    text-shadow: var(--shadow-med);
    cursor: pointer;
    transition: var(--transition-time);
}

.display-block-areaincomplete-bottomarea-btn:hover {
    font-size: 24px;
    color: var(--color-selected-gold);
    cursor: pointer;
}

/*List - Gallery - Horizontal - Display*/
.display-block-list-gallery-horz {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
    height: fit-content;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 4px;
    scroll-padding-right: 4px;
    scroll-behavior: smooth;
    overscroll-behavior-inline: none !important;
    overscroll-behavior: contain !important; 
    margin-top: 4px;
    padding: 4px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    /*border-radius: 5px;
    box-shadow: var(--shadow-inset-default);*/
}

.display-block-list-gallery-horz-item {
    display: block;
    width: 100%;
    height: fit-content;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.display-block-list-gallery-horz-item.multiple {
    width: 92%;
    flex: 0 0 92%;
}

.display-block-list-gallery-horz-btn-area {
    position: fixed;
    right: 15px;
    bottom: 15px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content !important;
    height: fit-content;
}

.display-block-list-gallery-horz-btn-area .icon {
    --extent-color: #c5c3c3;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: var(--extent-color) 1px solid;
    border-radius: 5px;
    color: var(--extent-color);
    box-shadow: var(--shadow-min);
    width: fit-content;
    padding: 2px;
    flex: 0 0 var(--btn-size);
    cursor: pointer;
}

.display-block-list-gallery-horz::-webkit-scrollbar {
    display: none;
    height: 6px; 
}

/*.display-block-list-gallery-horz::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
}

.display-block-list-gallery-horz::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 5px; 
    box-shadow: var(--shadow-min);
}

.display-block-list-gallery-horz::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
    box-shadow: var(--shadow-med);
}*/

/*Buttons*/
.btn-normal {
    color: rgb(95, 95, 95);
    border: 1px solid rgb(207, 204, 204);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    font-weight: bold;
    color: white !important;
    border: none;
}

.btn-gray {
    background-color: var(--color-gray-light);
    font-weight: bold;
    color: rgb(85, 85, 85);
    border: none;
}

.btn-stack {
    margin-top: 7px;
    margin-bottom: -4px;
}

.btn-further-selectable:has(.icon) {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 5px;
    text-align: start;
    background-color: rgb(240, 240, 240);
    color: rgb(95, 95, 95);
    border: 1px solid rgb(207, 204, 204);
}

.btn-further-selectable .icon {
    color: rgb(162, 162, 162);
}

/*Images/Icons*/
.material-symbols-outlined {
  font-variation-settings:
  'wght' 360,
}

/*Coloring*/
.color-primary {
    color: var(--primary-color);
}

.btn-square .icon {
    color: rgb(103, 103, 103);
}

/*Area*/
.area-horizontal {
    display: flex;  
    flex-direction: row;
    align-items: start;
    gap: 5px;
}

.area-vertical {
    display: flex;  
    flex-direction: column;
}

.area-center {
    align-items: center;
    justify-content: center;
}

.area-fit {
    width: fit-content !important;
    height: fit-content !important;
}

@media (max-width: 600px) {
    .area-fit-lim-handheld-90 {
        width: 90vw;
        height: auto;
    }
}

.area-fit-horizontal {
    width: fit-content;
}

.area-fit-vertical {
    height: fit-content;
}

.area-fill-horizontal {
    width: 100%;
}

.area-fill-vertical {
    height: 100%;
}

.area-padding10 {
    padding: 20px;
}

.area-padding20 {
    padding: 20px;
}

.area-space-vertical-small {
    height: 3.5vh;
}

.area-space-vertical-medium {
    height: 10vh;
}

.area-debug {
    border: red 1.5px dashed;
}

.element-flex-child-preserve {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: auto !important;
}

.placement-stick-top-right-5 {
    position: absolute;
    top: 5px;
    right: 5px;
}

.placement-stick-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.placement-stick-fixed-top-left {
    position: fixed;
    z-index: 900;
}

.placement-top-left-5 {
    left: 5px;
    top: 5px;
}

.placement-top-right-5 {
    right: 5px;
    top: 5px;
}

.separator-horizontal {
    width: 100%;
    height: 1.5px;
    background-color: rgb(232, 232, 232);
    margin: 10px 0;
}

/*Borders*/
.border-capsule {
    border-radius: 999px !important;
}

.border-dashed {
   border-style: dashed !important;
}

/*-------------Custom Classes-------------*/
.area-lang {
    background-color: white;
    border: rgb(210, 210, 210) 1.5px solid;
    padding: 1px;
    gap: 1px;
}

.btn-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    gap: 2px;
    background-color: rgb(0,0,0,0) !important;
    border: none;
    box-shadow: none !important;
}

.btn-lang.selected {
    background-color: white;
    border: 1.5px rgb(171, 171, 171) solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-lang text {
    font-size: 12px;
}

.btn-lang .flag-icon {
    border-radius: 5px;
}

/*Register Alert Icons*/
#icon-reg-username-false {
    color: rgb(224, 7, 108);
}

#icon-reg-username-true {
    color: rgb(11, 195, 82);
}

/*Dashboard Sections*/
.dashboard-background {
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow-y: scroll;
}

.dashboard-main {
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    min-height: 70px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem;
}

/*Modals*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 200px 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow-y: auto; /* Allows scrolling if content is too tall */
    background-color: rgba(0, 0, 0, 0.13);
}

.window-modal {
    position: relative;
    /* The key is here: set margins to 'auto' */
    margin: auto;
    height: fit-content !important;
    border-radius: 10px !important;
    background-color: white;
}

.btn-modal-close {
    width: 25px;
    height: 25px;
    font-size: 5px;
}

/*Event Loading Visualizations*/
#area-eventloading {
    background-color: rgba(0, 0, 0, 0.25);
    border: rgba(0, 0, 0, 0.214) 1.25px solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.animation-slide-in-y {
    animation: animation-slide-in-y 0.5s ease-out forwards;
}

@keyframes animation-slide-in-y {
    0% {transform: translateY(-150%);};
    100% {transform: translateY(0%);};
}

.animation-slide-out-y {
    animation: animation-slide-out-y 0.5s ease-in forwards;
}

@keyframes animation-slide-out-y {
    0% {transform: translateY(0%);};
    100% {transform: translateY(-150%);};
}

#area-eventload-visualizing-zone {
    background-color: white;
    border-radius: 5px;
    padding: 0px 5px;
    gap: 2px;
    color: black !important;
}

.txt-eventload {
    font-size: 14px;
    white-space: nowrap;
    padding: 0px 0px;
    margin: 0px 0px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

#icon-area-eventload { 
    animation: icon-eventloading-bounce 1s linear infinite;
}

@keyframes icon-eventloading-bounce {
    0% { 
        transform: translateY(0) rotate(0deg); 
    }
    25% { 
        transform: translateY(-1px); 
    } /* Bounce up */
    45% { 
        transform: translateY(0) rotate(0deg); 
    }
    70% { 
        transform: translateY(-3px); 
    } /* Smaller bounce */
    100% { 
        transform: translateY(0) rotate(360deg); 
    }
}

/*Page: Masonry-list*/
.page-masonry {
    overflow-y: auto;
}

.masonry-toolbar-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.masonrylist-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 5px;
    gap: 5px;
}

.masonrylist-column {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: fit-content;
    gap: 2px;
}

.masonrylist-card.elevated {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.masonrylist-card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 7px;
    background: rgb(255, 255, 255);
    border: #c3c3c3 1.5px solid;
    border-radius: 10px;
    box-shadow: var(--shadow-min);
    z-index: 0; /* Ensure card is above ::after */
}

.masonrylist-card div {
    width: 100%;
}

.masonrylist-card .txt-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgb(86, 86, 86);
    text-shadow: var(--shadow-min);
    word-break: break-all;
}

.display-data-error {
    border: rgb(195, 24, 107) 1px dashed;
    color: rgb(195, 24, 107);
    text-align: center; 
}

/*Masonry-List -> Masonry Card -> Masonry Board Card*/
.masonrylist-board-card {
    background-color: #e4e4e4;
    border-color: #ababab;
    padding: 5px;
}

.board-card-area-upper {
    --border-color: rgb(153, 153, 153);
    background-color: rgba(80, 80, 80, 0.2) !important;
    border-top: 1.5px solid var(--border-color);
    border-left: 1.5px solid var(--border-color);
    border-right: 1.5px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    height: fit-content;
    padding: 5px;
    line-height: 18px;
}

.board-card-area-lower {
    --border-color: rgb(153, 153, 153);
    background-color: rgba(80, 80, 80, 0.2) !important;
    border-bottom: 1.5px solid var(--border-color);
    border-left: 1.5px solid var(--border-color);
    border-right: 1.5px solid var(--border-color);
    border-top: 1.5px dashed rgb(111, 111, 111);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height:  fit-content;
    min-height: 20px;
    padding: 5px;
}

.board-card-title {
    display: inline;
    font-size: calc(var(--primary-font-size) + 1px);
    font-weight: bolder;
    color: #4f4a4d;
    text-shadow: var(--shadow-min);
    line-height: 14px;
}

.board-card-title-icon {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 2px;
    background-color: #0000002b;
    color:#524d4f;
    border-radius: 3px;
    margin-right: 4px;
}

.board-card-area-lower-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 2px;
}

.board-card-children-count {
    font-size: 12px;
    font-weight: bolder;
    background-color: rgb(153, 153, 153);
    color: rgb(49, 49, 49);
    text-shadow: var(--shadow-min);
    border-radius: 7px;
    padding: 1px 6px;
}

.board-card-progress-line-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 4.5px;
    margin-top: 3px;
    margin-right: -0.2px;
    margin-left: -0.2px;
    gap: 0;
}

.board-card-progress-line-child {
    --color-start: rgb(109, 109, 109);
    --color-end: rgb(255, 255, 236);
    display: block;
    font-size: 2px;
    background: color-mix(in srgb, var(--color-start), var(--color-end) calc(var(--data-percent) * 1%));
    box-shadow: 1px 2px 2px rgb(0, 0, 0, calc(var(--data-percent) * 1% * 0.35));
    height: 100%;
    flex: 1 1;
}

.board-card-progress-line-child.start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.board-card-progress-line-child.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Card stylings*/
.masonry-card-blurred {
    --blur-amount: 30px;
    --border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, 0.4);
    backdrop-filter: blur(var(--blur-amount));
    -webkit-backdrop-filter: blur(var(--blur-amount));
    border: var(--border-color) 2px solid;
    border-radius: inherit;
    z-index: 99;
    /*animation: blurReveal 1s ease-out backwards;*/
}

.masonry-card-blurred.reveal {
    width: 0px !important;
    height: 0px !important;
    background-color: rgba(117, 117, 117, 0) !important;
    border: none !important;
    backdrop-filter: blur(0px) !important;
    -webkit-backdrop-filter: blur(0px) !important;
}

/*@keyframes blurReveal {
  0% {
    background-color: rgba(117, 117, 117, 0.4);
    backdrop-filter: blur(40px);
  }
  100% {
    background-color: rgba(117, 117, 117, 0);
    backdrop-filter: blur(0px);
  }
}*/

.masonry-card-blurred.revealable:not(.reveal)::before {
    content: "Click to reveal";
    display: block;
    color: white;
    font-weight: bold;
    font-size: calc(var(--primary-font-size) + 2px);
    text-shadow: var(--shadow-med);
}

/*Card Management*/
.modal-card-creation {
    width: 100% !important;
    flex-grow: 1 0 100%;
    height: fit-content !important;
}

.card-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: 5px;
    padding: 5px 0px;
    margin-top: 5px;
}

.card-page {
    position: relative;
    width: 100%;
    height: 100px;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, rgb(237, 237, 237) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(237, 237, 237) 1px, transparent 1px);
    border: #c3c3c3 dashed 1.5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(0,0,0,0.2);
}

.card-page-number {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(82, 51, 51, 0.477);
}

.card-page-panel-area {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 4px;
}

.card-page-panel-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(0.75px);
    -webkit-backdrop-filter: blur(0.75px);
    border: #b8b8b879 1px solid;
    border-radius: 5px;
    color: rgb(149, 149, 149);
    font-size: 12px;
    padding: 2px;
}

/*Editors: Contextual Menu*/
.editor.context-menu {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    max-height: 20vh;
    padding: 7px;
    /*background-color: white;
    border: #8e8e8e solid 1px;*/
    box-shadow: var(--shadow-min);
    border-radius: 12px;
    left: 0px;
    bottom: calc(100% + 4px);
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
}

.editor.context-menu::-webkit-scrollbar {
    width: 20px;
}

.editor.context-menu.horizontal {
    flex-direction: row !important;
    gap: 4px;
}


.editor.btn-context-menu-item {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-items: center;
    font-size: var(--primary-font-size);
}

.btn-context-menu-item span {
    font-size: 16px;
    font-weight: 600;
    color: rgb(67, 65, 65);
    white-space: nowrap;
}

.btn-context-menu-item .area-horizontal {
    gap: 0 !important;
}

.editor.btn-context-menu-item.selected {
    border: 1.5px solid #6f03fc5e;
    background: rgba(142, 100, 255, 0.2) !important;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    padding: 2px 6px;
    border-radius: 5px;
}

.btn-context-menu-item.selected span {
    font-size: 18px;
    font-weight: 700;
}

.btn-context-menu-item .txt-highlighted {
    transform: translateY(-2px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.btn-context-menu-item.selected > .icon {
    color: var(--color-selected);
}

/*Editors: Card Editor View*/
.view-card-editor-top-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 4px;
}

.view-card-editor-top-subpanel {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 4px;
}

.btn-card-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-gray-light);
    border-color: #6d686a 1px solid;
    border-radius: 5px;
    padding: 2px 8px;
    gap: 4px;
    cursor: pointer;
}

.btn-card-editor:hover {
    transform: translateY(-2px);
}

.btn-save {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    box-shadow: var(--shadow-min);
}

.btn-delete {
    color: rgb(146, 146, 146);
}

/*Editors: Block Editor*/
.editor {
    position: relative;
}

.editor.block-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: #b8b8b879 1px solid;
    border-radius: 12px;
    padding: 2px;
}

.block-editor-key-area {
    align-items: center;
    justify-items: center;
    margin-left: 4px;
}

.block-editor-key-area > span {
    font-size: 18px;
    font-weight: bold;
}

.block-editor-key-area > .icon {
    font-size: 18px;
}

.window-modal:has(.editor.block-editor) {
    gap: 1px;
}

.editor.block-value-area {
    padding: 5px;
    line-height: 32px !important;

}

.editor.value-editor {
    display: inline;
    width: fit-content;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: #b8b8b879 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;

}

.editor.value-editor:has(.editor.block-editor) {
    padding: 0px;
}


/*.editor.value-editor:focus-within {
    border: var(--color-selected) 2px solid;
}*/

.editor.value-editor .icon,.txt-value-label {
    text-align: center !important;
    text-justify: center !important;
    white-space: nowrap;
    color: gray;
    font-weight: 800;
    font-size: 12px;
}

.editor.value-editor .icon {
    font-size: 14px !important;
}

.editor.value-editor .txt-value-label {
    margin-left: 2px;
}

.editor.value-editor span {
    display: inline;

}

.editor.input-text-minimum {
    min-width: 20px;
    padding: 0px 2px;
    border-radius: 5px;
    outline: none;
    margin-left: 2px;
}

.editor.input-text-minimum:empty {
    border: rgb(153, 153, 153) dashed 1px;
}

.editor.input-text-minimum:focus {
    border: var(--color-selected) dashed 2px !important;
    background-color:#6f03fc16;
    box-shadow: var(--shadow-min);
}

.editor.input-enum-area-minimum {
    border: rgb(202, 202, 202) 1px solid;
    border-radius: 5px;
    background-color: rgba(142, 142, 142, 0.2);
    margin-left: 6px;
    padding: 2px;
}

.editor.input-enum-area-minimum span {
    font-weight: 600;
    color: rgb(78, 73, 73);
}

.editor.input-enum-area-minimum .icon {
    font-size: 17px;
    color: rgb(78, 73, 73);
}

.editor.input-block-value {
    display: inline;
    width: fit-content;
    min-width: 20px !important;
    max-width: 100%;
    padding: 1px 5px;
    border-radius: 5px;
    outline: none;
    margin-left: 4px;
}

.editor.input-block-value:empty {
    border: #c1c1c1 dashed 1px;
}

.editor.input-block-value.inline:empty:not(:focus)::after {
    content: attr(data-value-type);
    position: relative;
    display: inline;
    width: fit-content;
    height: 13px;
    font-weight: 500;
    text-align: center;
    color: rgb(206, 206, 206);
    pointer-events: none !important;
}

.editor.block-insert-omit:focus::after {
    content: "𓂃₊⊹🪶";
    color: rgb(180, 180, 180);
    display: inline-block;
}

/*Value with inline blocks*/
.editor.value-editor:has(.editor.block-editor) {
    display: block;
    border: none;
    border-radius: 0;
    margin-top: -10px;
    width: 100%;
}

/*.editor.value-editor ::before {
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 10px;
    background-color: red;
}*/

.value-object {
    position: relative !important;
}

.value-object .editor.block-editor {
    position: relative;
    margin-left: 6px;
    width: calc(100% - 20px) !important;
}

.inline-value-editor-set .editor.block-editor {
    position: relative;
    margin-left: 10px;
    width: calc(100% - 20px) !important;
}

.editor.value-editor .editor.block-editor::before {
    content: "";
    display: inline;
    position: absolute;
    left: -8px;
    top: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 0px;
    height: 100%; /* Added height for visibility */
    border-left: rgb(188, 188, 188) 2px dotted;
}

.value-object.clicked {
    border: var(--color-selected) 2px solid;
}

.hidden {
    display: none !important;
}

/*Block Editor: KeyArea/Toolbar*/
#universal-key-area {
    position: absolute;
    bottom: 20px;
    background-color: white;
    border: var(--color-gray-light) 1.5px solid;
    border-radius: 20px;
    padding: 7px;
    width: 90%;
    height: fit-content;
    z-index: 999;
}

#universal-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 45px;
    border: rgb(214, 214, 214) 1px solid;
    border-radius: 10px;
    box-shadow: var(--shadow-min);
    padding: 5px;
}

#toolbar-element-handler {
    --knob-size: 30px;
    --margin-horz: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: calc(100% - var(--knob-size) * 2 - var(--margin-horz) * 2);
    margin: 0px var(--margin-horz);
    gap: 2px;
    flex: 0 0 calc(100% - var(--knob-size) * 2 - var(--margin-horz) * 2);
    overflow-x: auto;
    overflow-y: visible;
    scrollbar-width: none;
}

#toolbar-element-handler::-webkit-scrollbar {
    display: none;
}

.btn-toolbar-card-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    border: rgb(233, 233, 233) 1px solid;
    border-radius: 5px;
    padding: 0px 4px;
}

.btn-toolbar-card-editor:hover  {
    background-color:#e5e4ff;
    border: #6f00ff18 2px solid;
}

.btn-toolbar-card-editor:hover .icon {
    color: var(--color-selected);
    transform: translateY(-2px) rotate(6deg) scale(1.35);
    text-shadow: 1px 2px 2px rgba(153, 0, 255, 0.3);
}

.btn-toolbar-card-editor .icon {
    font-size: 23px;
    font-weight: 500;
    color: rgb(104, 99, 99);
    text-shadow: var(--shadow-min);
}

.toolbar-knob {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    flex: 0 0 30px;
    background-color: var(--color-gray-light);
    border-radius: 5px;
}

.toolbar-knob .icon {
    color: rgb(158, 158, 158);
    font-weight: 900;
}

/*Modal: Settings*/
.modal-settings-area {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.modal-settings-side-tab-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    background-color: var(--color-gray-light);
    padding: 7px 0px 7px 7px;
    border-radius: 5px;
    flex: 0 0 25%;
}

.modal-settings-txt-section {
    font-size: 13px;
    font-weight: bolder;
    color: gray;
}

.modal-settings-btn-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 4px;
    background-color: transparent;
    padding: 4px;
    font-size: var(--primary-font-size);
    font-weight: bold;
    color: rgb(91, 91, 91);
}

.modal-settings-btn-tab.active {
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    color: var(--primary-color);
}

.modal-settings-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 7px;
    width: 75%;
    height: 100%;
    flex: 1 1 75%;
    overflow-y: auto;
}

.modal-settings-module {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
}

.modal-settings-txt-module-title {
    color: gray;
    font-weight: bold;
}

.modal-settings-folder-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    gap: 4px;
    padding: 4px;
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    width: 100%;
    overflow-x: auto;
}

.modal-settings-folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    color: rgb(91, 91, 91);
    user-select: none;
    box-shadow: var(--shadow-default);
    height: 150px;
    width: 100px;
    flex: 0 0 100px;
}

.modal-settings-folder-item .icon{
    color: gray;
    background-color: #d3d3d3;
    border: rgb(190, 190, 190) 1px solid;
    border-radius: 50%;
    padding: 15px;
    box-shadow: var(--shadow-inset-default);
}

.modal-settings-folder-item-name {
    font-size: 12px;
    font-weight: bold;
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.modal-settings-folder-item-size {
    font-size: 10px;
    font-weight: bold;
    width: 100%; 
    white-space: nowrap;
    text-align: center;
}

.modal-settings-folder-item-link {
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: #4b77c7;
    width: 75%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: -2px;
}

.modal-settings-folder-item-actions {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 4px;
}

.modal-settings-folder-item-actions .icon {
    font-size: var(--primary-font-size);
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    color: gray;
    padding: 4px;
    cursor: pointer;
    box-shadow: none;
}

.modal-settings-folder-item.btn-folder-add {
    background-color: #d2d2d2;
    box-shadow: var(--shadow-inset-default);
    color: rgb(132, 132, 132);
    font-size: 14px;
    font-weight: bolder;
    text-shadow: var(--shadow-min);
    cursor: pointer;
}

.input-txt-3d-groove {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: var(--shadow-inset-default);
    text-shadow: var(--shadow-min);
    padding: 4px;
    margin-bottom: 2px;
}
